<div id="categories-menu" class="menu menu_hidden">
    <nav class="menu__left-half">
      <ul>
        <li id="link-to-pendals" class="menu__list-element"><a href="/collections/подвески" class="menu__link">Подвески</a></li>
        <li id="link-to-earrings" class="menu__list-element"><a href="/collections/серьги" class="menu__link">Серьги</a></li>
        <li id="link-to-rings" class="menu__list-element"><a href="/collections/кольца" class="menu__link">Кольца</a></li>
        <li id="link-to-cuffs" class="menu__list-element"><a href="/collections/каффы" class="menu__link">Каффы</a></li>
        <li id="link-to-bracelets" class="menu__list-element"><a href="/collections/браслеты" class="menu__link">Браслеты</a></li>
        <li id="link-to-hairpins" class="menu__list-element"><a href="/collections/заколки" class="menu__link">Заколки</a></li>
              <li id="link-to-feronniere" class="menu__list-element"><a href="/collections/фероньерки" class="menu__link">Фероньерки</a></li>
      </ul>
      <ul>
        <li id="link-to-perfume" class="menu__list-element"><a href="/collections/парфюмерия" class="menu__link">Духи</a></li>
        <li id="link-to-solid-perfume" class="menu__list-element"><a href="/collections/парфюм" class="menu__link">Твёрдые духи</a></li>
        <li id="link-to-clothes" class="menu__list-element"><a href="/collections/одежда" class="menu__link">Одежда</a></li>
        <li id="link-to-headwear" class="menu__list-element"><a href="/collections/головные-уборы" class="menu__link">Головные уборы</a></li>
        <li id="link-to-ceramics" class="menu__list-element"><a href="/collections/керамика" class="menu__link">Керамика</a></li>
      </ul>
    </nav>
    <div class="menu__right-half">
      <img id="image-for-pendals" class="menu__image menu__image_hidden"
        src="{{ 'categories-pendals.jpg' | asset_img_url: 'master' }}"
        alt="Подвески">
      <img id="image-for-earrings" class="menu__image menu__image_hidden"
        src="{{ 'categories-earrings.jpg' | asset_img_url: 'master' }}"
        alt="Серьги">
      <img id="image-for-rings" class="menu__image menu__image_hidden"
        src="{{ 'categories-rings.jpg' | asset_img_url: 'master' }}"
        alt="Кольца">
      <img id="image-for-cuffs" class="menu__image menu__image_hidden"
        src="{{ 'categories-cuffs.jpg' | asset_img_url: 'master' }}"
        alt="Каффы">
      <img id="image-for-bracelets" class="menu__image menu__image_hidden"
        src="{{ 'categories-bracelets.jpg' | asset_img_url: 'master' }}"
        alt="Браслеты">
      <img id="image-for-hairpins" class="menu__image menu__image_hidden"
        src="{{ 'categories-hairpins.jpg' | asset_img_url: 'master' }}"
        alt="Заколки">
      <img id="image-for-perfume" class="menu__image menu__image_hidden"
        src="{{ 'categories-perfume.jpg' | asset_img_url: 'master' }}"
        alt="Духи">
      <img id="image-for-solid-perfume" class="menu__image menu__image_hidden"
        src="{{ 'categories-solid-perfume.jpg' | asset_img_url: 'master' }}"
        alt="Твёрдые духи">
      <img id="image-for-clothes" class="menu__image menu__image_hidden"
        src="{{ 'categories-clothes.jpg' | asset_img_url: 'master' }}"
        alt="Одежда">
      <img id="image-for-headwear" class="menu__image menu__image_hidden"
        src="{{ 'categories-headwear.jpg' | asset_img_url: 'master' }}"
        alt="Головные уборы">
      <img id="image-for-feronniere" class="menu__image menu__image_hidden"
        src="{{ 'categories-feronniere.jpg' | asset_img_url: 'master' }}"
        alt="Фероньерки">
      <img id="image-for-ceramics" class="menu__image menu__image_hidden"
        src="{{ 'categories-ceramics.jpg' | asset_img_url: 'master' }}"
        alt="Керамика">
    </div>
  </div>