<div id="brands-menu" class="menu menu_hidden">
    <nav class="menu__left-half">
      <ul>
        <li id="link-to-other-objects" class="menu__list-element"><a href="/collections/other-objects" class="menu__link">Other Objects</a></li>
        <li id="link-to-black-form" class="menu__list-element"><a href="/collections/black-form" class="menu__link">Black.Form</a></li>
        <li id="link-to-not-concept" class="menu__list-element"><a href="/collections/not-concept" class="menu__link">Not Concept</a></li>
        <li id="link-to-perfert" class="menu__list-element"><a href="/collections/perfert" class="menu__link">Perfert</a></li>
        <li id="link-to-1991" class="menu__list-element"><a href="/collections/1991" class="menu__link">1991</a></li>
        <li id="link-to-liberte" class="menu__list-element"><a href="/collections/liberte" class="menu__link">Liberte</a></li>
        <li id="link-to-natalie-tonkal" class="menu__list-element"><a href="/collections/natalie-tonkal" class="menu__link">Natalie Tonkal</a></li>
        <li id="link-to-anna-maslovskaya" class="menu__list-element"><a href="/collections/anna-maslovskaya" class="menu__link">Anna Maslovskaya</a>
      </ul>
      <ul>
        <li id="link-to-sub-rosa" class="menu__list-element"><a href="/collections/sub-rosa" class="menu__link">Sub Rosa</a></li>
        <li id="link-to-hubris" class="menu__list-element"><a href="/collections/hubris" class="menu__link">HUBRIS</a></li>
        <li id="link-to-atauchi" class="menu__list-element"><a href="/collections/atauchi" class="menu__link">Atauchi</a></li>
        <li id="link-to-arha" class="menu__list-element"><a href="/collections/arha" class="menu__link">Arha</a></li>
        <li id="link-to-silvester" class="menu__list-element"><a href="/collections/silvester" class="menu__link">Silvester</a></li>
      </ul>
      <ul>
        <li id="link-to-odor-objects" class="menu__list-element"><a href="/collections/odor-objects" class="menu__link">Odor Objects</a></li>
        <li id="link-to-perfume-opera" class="menu__list-element"><a href="/collections/perfume-opera" class="menu__link">Perfume Opera</a></li>
        <li id="link-to-veta-perfume" class="menu__list-element"><a href="/collections/veta-perfume" class="menu__link">Veta Perfume</a></li>
        <li id="link-to-behurr" class="menu__list-element"><a href="/collections/behurr" class="menu__link">Behurr</a></li>
        <li id="link-to-sands" class="menu__list-element"><a href="/collections/sands" class="menu__link">Sands</a></li>
        <li id="link-to-malkenza" class="menu__list-element"><a href="/collections/malkenza" class="menu__link">Malkenza</a></li>
      </ul>
    </nav>
    <div class="menu__right-half">
      <img id="image-for-other-objects" class="menu__image menu__image_hidden"
        src="{{ 'brands-other-objects.jpg' | asset_img_url: 'master' }}"
        alt="Other Objects">
      <img id="image-for-black-form" class="menu__image menu__image_hidden"
        src="{{ 'brands-black-form.jpg' | asset_img_url: 'master' }}"
        alt="Black.Form">
      <img id="image-for-not-concept" class="menu__image menu__image_hidden"
        src="{{ 'brands-not-concept.jpg' | asset_img_url: 'master' }}"
        alt="Not Concept">
      <img id="image-for-perfert" class="menu__image menu__image_hidden"
        src="{{ 'brands-perfert.jpg' | asset_img_url: 'master' }}"
        alt="Perfert">
      <img id="image-for-1991" class="menu__image menu__image_hidden"
        src="{{ 'brands-1991.jpg' | asset_img_url: 'master' }}"
        alt="1991">
      <img id="image-for-liberte" class="menu__image menu__image_hidden"
        src="{{ 'brands-liberte.jpg' | asset_img_url: 'master' }}"
        alt="Liberte">
      <img id="image-for-natalie-tonkal" class="menu__image menu__image_hidden"
        src="{{ 'brands-natalie-tonkal.jpg' | asset_img_url: 'master' }}"
        alt="Natalie Tonkal">
      <img id="image-for-anna-maslovskaya" class="menu__image menu__image_hidden"
        src="{{ 'brands-anna-maslovskaya.jpg' | asset_img_url: 'master' }}"
        alt="Anna Maslovskaya">
      <img id="image-for-sub-rosa" class="menu__image menu__image_hidden"
        src="{{ 'brands-sub-rosa.jpg' | asset_img_url: 'master' }}"
        alt="Sub Rosa">
      <img id="image-for-hubris" class="menu__image menu__image_hidden"
        src="{{ 'brands-hubris.jpg' | asset_img_url: 'master' }}"
        alt="HUBRIS">
      <img id="image-for-atauchi" class="menu__image menu__image_hidden"
        src="{{ 'brands-atauchi.jpg' | asset_img_url: 'master' }}"
        alt="Atauchi">
      <img id="image-for-arha" class="menu__image menu__image_hidden"
        src="{{ 'brands-arha.jpg' | asset_img_url: 'master' }}"
        alt="Arha">
      <img id="image-for-odor-objects" class="menu__image menu__image_hidden"
        src="{{ 'brands-odor-objects.jpg' | asset_img_url: 'master' }}"
        alt="Odor Objects">
      <img id="image-for-perfume-opera" class="menu__image menu__image_hidden"
        src="{{ 'brands-perfume-opera.jpg' | asset_img_url: 'master' }}"
        alt="Perfume Opera">
        <img id="image-for-veta-perfume" class="menu__image menu__image_hidden"
        src="{{ 'brands-veta-perfume.jpg' | asset_img_url: 'master' }}"
        alt="Veta Perfume">
      <img id="image-for-behurr" class="menu__image menu__image_hidden"
        src="{{ 'brands-behurr.jpg' | asset_img_url: 'master' }}"
        alt="Behurr">
      <img id="image-for-sands" class="menu__image menu__image_hidden"
        src="{{ 'brands-sands.jpg' | asset_img_url: 'master' }}"
        alt="Sands">
      <img id="image-for-malkenza" class="menu__image menu__image_hidden"
        src="{{ 'brands-malkenza.jpg' | asset_img_url: 'master' }}"
        alt="Malkenza">
      <img id="image-for-silvester" class="menu__image menu__image_hidden"
        src="{{ 'brands-silvester.jpg' | asset_img_url: 'master' }}"
        alt="Silvester">
    </div>
</div>