<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="{{ page_description | escape }}">
  <meta name="keywords" content="">
  <meta name="robots" content="">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="./node_modules/fullpage.js/dist/fullpage.css" />
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="./index.css">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
  {{ content_for_header }}
</head>

<body>
  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}
  <!-- HEADER -->
  <header class="header">
    <div class="header__fraction">
      <a class="header__logo header__logo_white" href="./index.html"></a>
    </div>
    <div class="header__fraction">
      <button class="header__button header__button_white">БРЕНДЫ</button>
      <button class="header__button header__button_white">КАТЕГОРИИ</button>
    </div>
    <div class="header__fraction">
      <button class="header__button header__button_white">ПОДПИСАТЬСЯ</button>
    </div>
    <div class="header__fraction">
      <button class="header__button header__button_white">ВОЙТИ</button>
      <a class="header__button header__button_white" href="./pages/wishes/wishes.html">ЖЕЛАНИЯ</a>
      <a class="header__button header__button_white" href="./pages/cart/cart.html">КОРЗИНА(00)</a>
    </div>
  </header>
  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <!-- FULLPAGE SECTIONS -->
  <main id="fullpage">
    <section class="section section_1 active">
      <div class="section__info">
        <h2 class="section__heading">LIFE<br>MAGAZINE</h2>
        <p class="section__text section__text_bottom">VERY IMPORTAN INFORMATION (VERY IMPORTANT INFORMATION)</p>
      </div>
    </section>
    <section class="section section_2">
      <div class="section__info section__info_flex-end">
        <div class="section__heading-alignment">
          <h2 class="section__heading">50% OFF</h2>
          <span class="section__heading-span">TODAY ONLY</span>
        </div>
        <p class="section__text">OTHER OBJECTS, ODOR OBJECTS, KOLCO CIGANSCOE, +5 HP IF YOU HAVE LOW MANA (The following
          brands participate in the promotion).</p>
      </div>
    </section>
    <section class="section section_3">
      <div class="section__info">
        <h2 class="section__heading">NOT<br>CONCEPT</h2>
        <p class="section__text section__text_3">The concept is that there is no concept and this gives me complete
          freedom. I don’t
          attach myself to anything, I have a lot of space for thought,because I’m still at the beginning of the way: I
          study transforming and this is reflected in the design. I experiment a lot with forms, combine different
          textures and minerals. This technique can be seen in rings with large stones. They can not be repeated,
          because it uses natural stone, a copy of which can never be found. My jewelry is not distributed by gender -
          each time it warms my soul to see a guy with a cuff or ring of my design.</p>
        <p class="section__text section__text_bottom">NOW IN OUR STORE</p>
      </div>
    </section>
    <section class="section section_4">
      <div class="section__info">
        <h2 class="section__heading">MAKE YOUR<br>OWN DESIGN</h2>
        <p class="section__text section__text_bottom section__text_short">Here you can order your own jewelry, which
          will be created according to your design.
          Together we will agree on the terms of reference, estimated dates and cost of the product, and then sign an
          agreement on its creation. We will help to realize any of your ideas - a jewelry can be made of silver or
          gold, using precious and semiprecious stones, engraving or using enamel. The cost of the product depends on
          the complexity of the work, as well as on the cost of the selected metals and precious and semiprecious
          stones, but what cannot be counted in money is the joy of jewelry that will only be with you or the person to
          whom you will give it.</p>
      </div>
    </section>
    {{ content_for_layout }}
  </main>


  <!-- SECTION COUNTER -->
  <span class="counter"></span>


  <!-- FOOTER -->
  <!-- <footer class="footer footer_hidden">
    <nav class="footer__left-half">
      <ul class="footer__nav-list">
        <li class="footer__nav-list-element"><a href="./pages/about_us/about_us.html" class="footer__nav-link">О нас</a>
        </li>
        <li class="footer__nav-list-element"><a href="./pages/contacts/contacts.html" class="footer__nav-link">Контакты</a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-list-element"><a href="./pages/warranty_and_returns/warranty_and_returns.html"
            class="footer__nav-link">Гарантия и возврат</a></li>
        <li class="footer__nav-list-element"><a href="./pages/shipping_and_payment/shipping_and_payment.html"
            class="footer__nav-link">Доставка и оплата</a></li>
        <li class="footer__nav-list-element"><a href="./pages/care_for_jewelry/care_for_jewelry.html"
            class="footer__nav-link">Уход за украшениями</a></li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-list-element"><a href="./pages/offer/offer.html" class="footer__nav-link">Оферта</a></li>
        <li class="footer__nav-list-element"><a href="./pages/confidentiality/confidentiality.html"
            class="footer__nav-link">Конфиденциальность</a></li>
      </ul>
    </nav>
    <ul class="footer__right-half">
      <li class="footer__contact">
        <h3 class="footer__contact-type">Телефон:</h3>
        <a class="footer__contact-data" href="tel:+79151398563">+79151398563</a>
      </li>
      <li class="footer__contact">
        <h3 class="footer__contact-type">E-mail:</h3>
        <a class="footer__contact-data" href="mailto:hello@symptom.jewelry">HELLO@SYMPTOM.JEWELRY</a>
      </li>
      <li class="footer__contact">
        <h3 class="footer__contact-type">Подписаться на нас:</h3>
        <a class="footer__contact-data" href="https://www.instagram.com/symptom.jewelry/">INSTAGRAM</a>
      </li>
    </ul>
  </footer> -->


  <!-- MENU: BRANDS -->
  <!-- <div class="menu">
    <nav class="menu__left-half">
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Other Objects</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Sub Rosa</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">BLACK FORM</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">HUBRIS</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Arha</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">1991</a></li>
      </ul>
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Atauchi</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Odor Objects</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Anna Maslovskaya</a></li>
      </ul>
    </nav>
    <div class="menu__right-half menu__right-half_brands"></div>
  </div> -->


  <!-- MENU: CATEGORIES -->
  <!-- <div class="menu">
    <nav class="menu__left-half">
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Подвески</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Серьги</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Кольца</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Браслеты</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Заколки</a></li>
      </ul>
      <ul class="menu__list">
        <li class="menu__list-element"><a href="" class="menu__link">Парфюм</a></li>
        <li class="menu__list-element"><a href="" class="menu__link">Головные уборы</a></li>
      </ul>
    </nav>
    <div class="menu__right-half menu__right-half_categories"></div>
  </div> -->


  <!-- FORM: SIGN IN -->
  <!-- <form class="form">
    <h3 class="form__heading">Регистрация</h3>
    <div class="form__grid">
      <div class="form__left-half">
        <h4 class="form__input-name">E-mail:</h4>
        <input class="form__input" placeholder="your@e-mail.com">
        <span class="form__error">Введите адрес электронной почты</span>
        <label class="form__checkbox-alignment">
          <div>
            <input class="form__true-checkbox" type="checkbox" checked>
            <div class="form__fake-checkbox"></div>
          </div>
          <p class="form__checkbox-description">I would like to receive information about new collections and<br>special
            offers by the specified email</p>
        </label>
      </div>
      <div class="form__right-half">
        <h4 class="form__input-name">Пароль:</h4>
        <input class="form__input" placeholder="Your pass">
        <span class="form__error">Пароль слишком короткий</span>
        <label class="form__checkbox-alignment">
          <div>
            <input class="form__true-checkbox" type="checkbox" checked>
            <div class="form__fake-checkbox"></div>
          </div>
          <p class="form__checkbox-description">By clicking the "Checkout" button you consent to the processing<br>of
            your
            personal data</p>
        </label>
        <button class="form__button form__button_submit">Регистрация</button>
      </div>
    </div>
  </form> -->


  <!-- FORM: LOG IN -->
  <!-- <form class="form">
    <h3 class="form__heading">Вход</h3>
    <div class="form__grid">
      <div class="form__left-half">
        <h4 class="form__input-name">E-mail:</h4>
        <input class="form__input" placeholder="your@e-mail.com">
        <span class="form__error">Неверный адрес электронной почты</span>
        <button class="form__button form__button_signin">Регистрация</button>
      </div>
      <div class="form__right-half">
        <h4 class="form__input-name">Пароль:</h4>
        <input class="form__input" placeholder="Your pass">
        <span class="form__error">Неверный пароль</span>
        <button class="form__button form__button_submit">Вход</button>
        <button class="form__forgot-password">Забыли пароль?</button>
      </div>
    </div>
  </form> -->

  <!-- FORM: PASSWORD RECOVERY -->
  <!-- <form class="form">
    <h3 class="form__heading">Восстановление</h3>
    <div class="form__grid">
      <div class="form__left-half"></div>
      <div class="form__right-half">
        <h4 class="form__input-name">E-mail / Имя пользователя</h4>
        <input class="form__input" placeholder="your@e-mail.com">
        <span class="form__error">Неверный адрес электронной почты</span>
        <p class="form__recovery-text">
          Укажите свой Email или имя пользователя.<br>Ссылку на создание нового пароля Вы получите<br>по электронной почте.
        </p>
        <button class="form__button form__button_submit form__button_recovery">Восстановить пароль</button>
      </div>
    </div>
  </form> -->

  <!-- FORM: SUBSCRIBE -->
  <!-- <form class="form">
    <h3 class="form__heading">Давайте познакомимся</h3>
    <div class="form__grid">
      <div class="form__left-half">
        <h4 class="form__input-name">E-mail:</h4>
        <input class="form__input" placeholder="your@e-mail.com">
        <span class="form__error">Введите адрес электронной почты</span>
        <label class="form__checkbox-alignment">
          <div>
            <input class="form__true-checkbox" type="checkbox" checked>
            <div class="form__fake-checkbox"></div>
          </div>
          <p class="form__checkbox-description">I would like to receive information about new collections and<br>special
            offers by the specified email</p>
        </label>
      </div>
      <div class="form__right-half">
        <h4 class="form__input-name">Ваше имя:</h4>
        <input class="form__input" placeholder="Your pass">
        <span class="form__error">Укажите Ваше имя</span>
        <label class="form__checkbox-alignment">
          <div>
            <input class="form__true-checkbox" type="checkbox" checked>
            <div class="form__fake-checkbox"></div>
          </div>
          <p class="form__checkbox-description">By clicking the "Checkout" button you consent to the processing<br>of
            your
            personal data</p>
        </label>
        <button class="form__button form__button_submit">Подписаться</button>
      </div>
    </div>
  </form> -->


  <!-- COOKIES -->
  <!-- <div class="cookies">
    <p class="cookies__text">
      Our site, like most others, uses cookies and other similar technologies (pixel tags, etc.) to provide services
      that best meet your interests and needs, as well as collect statistical and marketing information to analyze and
      improve our services and sites.<br><br>By using this site, you agree to the use of cookies and other similar
      technologies in accordance with this Notice.
    </p>
    <button class="cookies__close-button"></button>
  </div> -->

  <script src="./node_modules/fullpage.js/dist/fullpage.js"></script>
  <script src="./index.js"></script>

</body>

</html>