<!DOCTYPE html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <!-- <meta name="format-detection" content="telephone=no"> -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_img_url: '32x32' }}" type="image/ico">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="{{ page_description | escape }}">
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>

<body>

{% section 'header' %}

<main>
  {{ content_for_layout }}
</main>

{% section 'footer' %}

</body>

</html>