<!-- {% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Обновить</button>
      <button type="submit" name="checkout">Оплатить</button>
    </div>
  </form>
{% else %}
  <h2>КОРЗИНА</h2>
  Cart is empty
{% endif %} -->

<main class="cart">
  <div class="cart-items">
    <h1 class="heading">{{ cart.item_count }} {{ cart.item_count | pluralize: 'шт.', 'шт.' }}</h1>
    <div class="cart-item">
      <div class="cart-item__info">
        <span class="cart-item__spec">{{ product.title }}</span>
        <span class="cart-item__spec">Size: 7.5</span>
        <span class="cart-item__price">{{ product.price | money }}</span>
      </div>
      <img class="cart-item__image" src="../images/content/ring-prayer.jpg" alt="">
      <div class="cart-item__buttons">
        <button class="cart-item__edit-button"></button>
        <button class="cart-item__remove-button"></button>
      </div>
    </div>
  </div>

  <!-- <label for="CartNote">Special instructions</label>
  <textarea name="note" id="CartNote">{{ cart.note }}</textarea> -->

  <form class="order">
    <p class="paragraph paragraph_order">Ваши личные данные будут использоваться для обработки ваших заказов,
      для упрощения использования нашего веб-сайта и для других целей,
      описанных в нашей <a class="paragraph__link" href="/pages/confidential"> политике конфиденциальности</a>.</p>
    <label class="checkbox checkbox_order">
      <div>
        <input class="checkbox__true-checkbox" type="checkbox" checked>
        <div class="checkbox__fake-checkbox"></div>
      </div>
      <p class="checkbox__description">Я прочитал и согласен с правилами сайта согласно тексту <a
          class="paragraph__link" href="/pages/offer"> оферты</a>.</p>
    </label>
    <div class="black-button_cart-btn-grid">
      <div class="chekout-button">
        <button class="black-button black-button_order" type="submit" name="checkout">Оформить</button>
          {% if additional_checkout_buttons %}
\            {{ content_for_additional_checkout_buttons }}
\          {% endif %}
        <input type="submit" name="checkout" class="cart__submit btn btn--small-wide" value="">
      </div>
      <a href="/collections/other-objects" class="black-button black-button_back-to-all">В каталог</a>
    </div>
  </form>
</main>

