<!-- {% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Обновить</button>
      <button type="submit" name="checkout">Оплатить</button>
    </div>
  </form>
{% else %}
  <h2>КОРЗИНА</h2>
  Cart is empty
{% endif %} -->

<main class="cart">
  <div class="cart-items">
    <h1 class="heading">{{ cart.item_count }} {{ cart.item_count | pluralize: 'товар', 'товаров' }}</h1>
    <div class="cart-item">
      <div class="cart-item__info">
        <span class="cart-item__spec">Anna Maslovskaya</span>
        <span class="cart-item__spec">Prayer</span>
        <span class="cart-item__spec">Material: Gold</span>
        <span class="cart-item__spec">Size: 7.5</span>
        <span class="cart-item__price">19 000 Rub.</span>
      </div>
      <img class="cart-item__image" src="../images/content/ring-prayer.jpg" alt="">
      <div class="cart-item__buttons">
        <button class="cart-item__edit-button"></button>
        <button class="cart-item__remove-button"></button>
      </div>
    </div>
    <div class="cart-item">
      <div class="cart-item__info">
        <span class="cart-item__spec">38</span>
        <span class="cart-item__spec">Playroe</span>
        <span class="cart-item__spec">Material: Silver</span>
        <span class="cart-item__spec">Size: 8</span>
        <span class="cart-item__price">10 000 Rub.</span>
      </div>
      <img class="cart-item__image" src="../images/content/ring-playroe.jpg" alt="">
      <div class="cart-item__buttons">
        <button class="cart-item__edit-button"></button>
        <button class="cart-item__remove-button"></button>
      </div>
    </div>
  </div>

  <form class="order">
    <h4 class="input__heading">Способ доставки:</h4>
    <div class="delivery">
      <label class="delivery__method">
        <input class="delivery__true-radio" type="radio" name="method">
        <div class="delivery__fake-radio delivery__fake-radio_moscow">Доставка по Москве</div>
      </label>
      <label class="delivery__method">
        <input class="delivery__true-radio" type="radio" name="method" checked>
        <div class="delivery__fake-radio delivery__fake-radio_russia">Почта России</div>
      </label>
      <label class="delivery__method">
        <input class="delivery__true-radio" type="radio" name="method">
        <span class="delivery__fake-radio delivery__fake-radio_sdek">СДЭК</span>
      </label>
      <label class="delivery__method">
        <input class="delivery__true-radio" type="radio" name="method">
        <span class="delivery__fake-radio delivery__fake-radio_pickup">Самовывоз</span>
      </label>
      <label class="delivery__method">
        <input class="delivery__true-radio" type="radio" name="method">
        <span class="delivery__fake-radio delivery__fake-radio_worldwide">Доставка по миру</span>
      </label>
    </div>
    <p class="paragraph">Ваш заказ будет доставлен в течение 1-5 рабочих дней по Мск, Мск обл., СПб.
      Товар будет доставлен в течении 4-5 недель по РФ и миру.</p>
    <div class="order__alignment">
      <div class="input input_order-s">
        <h3 class="input__heading">Имя:</h3>
        <input class="input__field" type="text" placeholder="Амар">
        <span class="input__error">Укажите имя</span>
      </div>
      <div class="input input_order-s">
        <h3 class="input__heading">Фамилия:</h3>
        <input class="input__field" type="text" placeholder="Скай">
        <span class="input__error">Укажите фамилию</span>
      </div>
    </div>
    <div class="input input_order-m">
      <h3 class="input__heading">Телефон:</h3>
      <input class="input__field" type="tel" placeholder="+7 (000) 000 00 00">
      <span class="input__error">Введите телефон</span>
    </div>
    <div class="input input_order-m">
      <h3 class="input__heading">E-mail:</h3>
      <input class="input__field" type="email" placeholder="your@dolphine.com">
      <span class="input__error">Укажите почту</span>
    </div>
    <label class="checkbox checkbox_order">
      <div>
        <input class="checkbox__true-checkbox" type="checkbox" checked>
        <div class="checkbox__fake-checkbox"></div>
      </div>
      <p class="checkbox__description">Подписаться на нас</p>
    </label>
    <div class="order__alignment">
      <div class="input input_order-s">
        <h3 class="input__heading">Город:</h3>
        <input class="input__field" type="text" placeholder="Промес-сити">
        <span class="input__error">Укажите город</span>
      </div>
      <div class="input input_order-l">
        <h3 class="input__heading">Адрес:</h3>
        <input class="input__field" type="text" placeholder="пр. Антрацита, д.250 кв.1">
        <span class="input__error">Введите адрес</span>
      </div>
    </div>
    <div class="input input_order-s">
      <h3 class="input__heading">Почтовый индекс:</h3>
      <input class="input__field" type="number" placeholder="121248">
      <span class="input__error">Укажите индекс</span>
    </div>
    <div class="input input_order-s">
      <h3 class="input__heading">Промокод:</h3>
      <input class="input__field" type="text" placeholder="KaiF30">
      <span class="input__error">Укажите индекс</span>
    </div>
    <p class="paragraph paragraph_order">Ваши личные данные будут использоваться для обработки ваших заказов,
      для упрощения использования нашего веб-сайта и для других целей,
      описанных в нашей <a class="paragraph__link" href="/pages/confidential"> политике конфиденциальности</a>.</p>
    <label class="checkbox checkbox_order">
      <div>
        <input class="checkbox__true-checkbox" type="checkbox" checked>
        <div class="checkbox__fake-checkbox"></div>
      </div>
      <p class="checkbox__description">Я прочитал и согласен с правилами сайта согласно тексту <a
          class="paragraph__link" href="/pages/offer"> оферты</a>.</p>
    </label>
    <button class="black-button black-button_order">Оплата</button>
  </form>
</main>

