<!-- {% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Всего</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Обновить</button>
      <button type="submit" name="checkout">Оплатить</button>
    </div>
  </form>
{% else %}
  <h2>КОРЗИНА</h2>
  Cart is empty
{% endif %} -->

  <div class="cart">
    <div class="cart-items">
      <h1 class="heading">2 товара</h1>
      <div class="cart-item">
        <div class="cart-item__info">
          <span class="cart-item__spec">Anna Maslovskaya</span>
          <span class="cart-item__spec">Prayer</span>
          <span class="cart-item__spec">Material: Gold</span>
          <span class="cart-item__spec">Size: 7.5</span>
          <span class="cart-item__price">19 000 Rub.</span>
        </div>
        <img class="cart-item__image" src="../images/content/ring-prayer.jpg" alt="">
        <div class="cart-item__buttons">
          <button class="cart-item__edit-button">Edit</button>
          <button class="cart-item__remove-button"></button>
        </div>
      </div>
      <div class="cart-item">
        <div class="cart-item__info">
          <span class="cart-item__spec">38</span>
          <span class="cart-item__spec">Playroe</span>
          <span class="cart-item__spec">Material: Silver</span>
          <span class="cart-item__spec">Size: 8</span>
          <span class="cart-item__price">10 000 Rub.</span>
        </div>
        <img class="cart-item__image" src="../images/content/ring-playroe.jpg" alt="">
        <div class="cart-item__buttons">
          <button class="cart-item__edit-button">Edit</button>
          <button class="cart-item__remove-button"></button>
        </div>
      </div>
    </div>

    <form class="order">
      <h4 class="input__heading">Способ доставки:</h4>
      <div class="delivery">
        <label class="delivery__method">
          <input class="delivery__true-radio" type="radio" name="method">
          <div class="delivery__fake-radio delivery__fake-radio_moscow">Доставка по Москве</div>
        </label>
        <label class="delivery__method">
          <input class="delivery__true-radio" type="radio" name="method" checked>
          <div class="delivery__fake-radio delivery__fake-radio_russia">Доставка по России</div>
        </label>
        <label class="delivery__method">
          <input class="delivery__true-radio" type="radio" name="method">
          <span class="delivery__fake-radio delivery__fake-radio_pickup">Самовывоз</span>
        </label>
        <label class="delivery__method">
          <input class="delivery__true-radio" type="radio" name="method">
          <span class="delivery__fake-radio delivery__fake-radio_worldwide">Доставка по миру</span>
        </label>
      </div>
      <p class="paragraph">Ваш заказ будет доставлен в течение 1-5 рабочих дней по Мск, Мск обл., СПб.
        Товар будет доставлен в течении 4-5 недель по РФ и миру.</p>
      <div class="order__alignment">
        <div class="input input_order-s">
          <h3 class="input__heading">Имя:</h3>
          <input class="input__field" type="text" placeholder="Амар">
          <span class="input__error">Укажите имя</span>
        </div>
        <div class="input input_order-s">
          <h3 class="input__heading">Фамилия:</h3>
          <input class="input__field" type="text" placeholder="Скай">
          <span class="input__error">Укажите фамилию</span>
        </div>
      </div>
      <div class="input input_order-m">
        <h3 class="input__heading">Телефон:</h3>
        <input class="input__field" type="tel" placeholder="+7 (000) 000 00 00">
        <span class="input__error">Введите телефон</span>
      </div>
      <div class="input input_order-m">
        <h3 class="input__heading">E-mail:</h3>
        <input class="input__field" type="email" placeholder="your@dolphine.com">
        <span class="input__error">Укажите почту</span>
      </div>
      <label class="checkbox checkbox_order">
        <div>
          <input class="checkbox__true-checkbox" type="checkbox" checked>
          <div class="checkbox__fake-checkbox"></div>
        </div>
        <p class="checkbox__description">Подписаться на нас</p>
      </label>
      <div class="order__alignment">
        <div class="input input_order-s">
          <h3 class="input__heading">Город:</h3>
          <input class="input__field" type="text" placeholder="Промес-сити">
          <span class="input__error">Укажите город</span>
        </div>
        <div class="input input_order-l">
          <h3 class="input__heading">Адрес:</h3>
          <input class="input__field" type="text" placeholder="пр. Антрацита, д.250 кв.1">
          <span class="input__error">Введите адрес</span>
        </div>
      </div>
      <div class="input input_order-s">
        <h3 class="input__heading">Почтовый индекс:</h3>
        <input class="input__field" type="number" placeholder="121248">
        <span class="input__error">Укажите индекс</span>
      </div>
      <div class="input input_order-s">
        <h3 class="input__heading">Промокод:</h3>
        <input class="input__field" type="text" placeholder="kaIF30">
        <span class="input__error">Укажите индекс</span>
      </div>
      <p class="paragraph paragraph_order">Ваши личные данные будут использоваться для обработки ваших заказов,
        для упрощения использования нашего веб-сайта и для других целей,
        описанных в нашей <a class="paragraph__link" href="./confidentiality.html"> политике конфиденциальности</a>.</p>
      <label class="checkbox checkbox_order">
        <div>
          <input class="checkbox__true-checkbox" type="checkbox" checked>
          <div class="checkbox__fake-checkbox"></div>
        </div>
        <p class="checkbox__description">Я прочитал и согласен с правилами сайта согласно тексту <a
            class="paragraph__link" href="./offer.html"> оферты</a>.</p>
      </label>
      <button class="black-button black-button_order">Оплата</button>
    </form>
  </div>

{% javascript %}

// HEADER

const main = document.querySelector('main');
const header = document.querySelector('header');
const headerLogo = document.querySelector('#header-logo');

const buttons = document.querySelectorAll('.header__button');
const headerBrandsButton = document.querySelector('#header-brands-button');
const headerCategoriesButton = document.querySelector('#header-categories-button');
const headerSubscribeButton = document.querySelector('#header-subscribe-button');
const headerLogInButton = document.querySelector('#header-login-button');
const headerWishesButton = document.querySelector('#header-wishes-button');
const headerCartButton = document.querySelector('#header-cart-button');

const outlines = document.querySelectorAll('.header__button-outline');
const brandsOutline = document.querySelector('#brands-outline');
const categoriesOutline = document.querySelector('#categories-outline');
const subscribeOutline = document.querySelector('#subscribe-outline');
const logInOutline = document.querySelector('#login-outline');
const wishesOutline = document.querySelector('#wishes-outline');
const cartOutline = document.querySelector('#cart-outline');

const menus = document.querySelectorAll('.menu');
const brandsMenu = document.querySelector('#brands-menu');
const categoriesMenu = document.querySelector('#categories-menu');

const forms = document.querySelectorAll('.form');
const subscribeForm = document.querySelector('#subscribe-form');
const logInForm = document.querySelector('#login-form');
const signInButton = document.querySelector('#signin-button');
const recoveryButton = document.querySelector('#recovery-button');
const signInForm = document.querySelector('#signin-form');
const passwordRecoveryForm = document.querySelector('#password-recovery-form');

function headerTurnsBlack() {
	if (header.classList.contains('header_two-colored')) {
		headerLogo.classList.remove('header__logo_white');
		buttons.forEach(button => button.classList.remove('header__button_white'));
		wishesOutline.classList.remove('header__button-outline_white');
		cartOutline.classList.remove('header__button-outline_white');
	}
};

function headerTurnsWhite() {
	if (header.classList.contains('header_two-colored')) {
		headerLogo.classList.add('header__logo_white');
		buttons.forEach(button => button.classList.add('header__button_white'));
		wishesOutline.classList.add('header__button-outline_white');
		cartOutline.classList.add('header__button-outline_white');
	}
};

function showOutline(outline) {
	outline.classList.remove('header__button-outline_hidden');
};

function hideAllOutlines() {
	outlines.forEach(outline => outline.classList.add('header__button-outline_hidden'));
};

function showPopup(popup, hidingClass) {
	headerTurnsBlack();
	popup.classList.remove(hidingClass);
};

function hideAllPopups() {
	menus.forEach(menu => menu.classList.add('menu_hidden'));
	forms.forEach(form => form.classList.add('form_hidden'));
	hideAllOutlines();
	headerTurnsWhite();
};

headerBrandsButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(brandsOutline);
	showPopup(brandsMenu, 'menu_hidden');
});

headerCategoriesButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(categoriesOutline);
	showPopup(categoriesMenu, 'menu_hidden');
});

headerSubscribeButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(subscribeOutline);
	showPopup(subscribeForm, 'form_hidden');
});

headerLogInButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(logInForm, 'form_hidden');
});

signInButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(signInForm, 'form_hidden');
});

recoveryButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(passwordRecoveryForm, 'form_hidden');
});

headerWishesButton.addEventListener('click', () => {
	hideAllOutlines();
	showOutline(wishesOutline);
});

headerCartButton.addEventListener('click', () => {
	hideAllOutlines();
	showOutline(cartOutline);
});

// закрываем меню и футеры кликом по основному разделу
document.addEventListener('keydown', event => {
	if (event.key == 'Escape') hideAllPopups();
});

// закрываем меню и футеры кликом по основному разделу
main.addEventListener('click', () => hideAllPopups());

// закрываем меню и футеры кликом по футеру
document.addEventListener('click', event => {
	let isFooter = event.target.closest('.footer');
	if (isFooter) hideAllPopups();
});

// закрываем меню и футеры кликом по основному разделу
// (а кнопке "желания" возвращаем овал)
document.addEventListener('keydown', event => {
	if (event.key == 'Escape') {
    hideAllPopups();
    cartOutline.classList.remove('header__button-outline_hidden');
  };
});

// закрываем меню и футеры кликом по основному разделу
// (а кнопке "желания" возвращаем овал)
main.addEventListener('click', () => {
  hideAllPopups();
  cartOutline.classList.remove('header__button-outline_hidden');
});

{% endjavascript %}

