<!-- {% paginate collection.products by 16 %}
  {% for product in collection.products %}
  {% endfor %}
{% endpaginate %} -->

<div class="text-page text-page_divided text-page_brand">
  <div class="text-page__left-half">
    <h1 class="heading">{{ collection.title }}</h1>
  </div>
  <div class="text-page__right-half">
    <p class="paragraph">{{ collection.description }}</p>
  </div>
</div>

  <!-- {% for tag in collection.tags %}
    {{ tag | link_to_tag: tag }}
  {% endfor %} -->


<!-- FILTERS -->
<div class="filters">
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter" checked>
    <span class="filters__fake-radio">НОВИНКИ</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter" checked>
    <span class="filters__fake-radio">МИНИМАЛЬНАЯ&nbsp;ЦЕНА</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter" checked>
    <span class="filters__fake-radio">МАКСИМАЛЬНАЯ&nbsp;ЦЕНА</span>
  </label>
  <!-- <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter" checked>
    <span class="filters__fake-radio">Все</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Желания</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Подвески</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Серьги</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Кольца</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Каффы</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Браслеты</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Заколки</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Фероньерки</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Головные&nbsp;уборы</span>
  </label>
</div>
<div class="filters">
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Одежда</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Духи</span>
  </label>
  <label class="filters__filter">
    <input class="filters__true-radio" type="radio" name="filter">
    <span class="filters__fake-radio">Твёрдые&nbsp;духи</span>
  </label> -->
</div>

<div class="grid-container">
  {% assign grid_item_width = 'wide--one-fifth large--one-quarter medium-down--one-half' %}
  {%- assign product_width = 319 -%}

  {% for product in collection.products %}
    {% assign featured = product %}
    <div class="grid__item {{grid_item_width}}">
      {% include 'product-grid-item' %}
    </div>
  {% else %}
</div>

    {% if shop.products_count == 0 %}
      <div class="grid__item card card_square">
        <div class="helper-section">
          <div class="grid-uniform helper-content{% if section.settings.center_grid_link %} text-center{% endif %}">
            {% for i in (1..8) %}
              <div class="grid__item one-half post-large--one-quarter">
                <a href="/admin/products" class="grid-link">
                  <span class="grid-link__image grid-link__image--product">
                    <span class="grid-link__image-centered">
                    </span>
                  </span>
                  <p class="card__name">{{ 'product_title' | t }}</p>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="grid__item">
        <p><em>{{ 'collections.general.no_matches' | t }}</em></p>
      </div>
    {% endif %}

  {% endfor %}

{% comment %}

{% paginate collection.products by 15 %}

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template" data-sort-enabled="{{ section.settings.sort_enable }}" data-tags-enabled="{{ section.settings.tags_enable }}">
  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <header class="section-header section-header--large">
    <h1 class="section-header__title{% if section.settings.tags_enable or section.settings.sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>
    {% if section.settings.tags_enable or section.settings.sort_enable %}
    <div class="section-header__link--right">
      {% if section.settings.tags_enable %}
        {% include 'collection-tags' %}
      {% endif %}
      {% if section.settings.sort_enable %}
        {% include 'collection-sorting' %}
      {% endif %}
    </div>
    {% endif %}
  </header>

  {% if collection.description != blank %}
    <div class="rte rte--header">
      {{ collection.description }}
    </div>
    <hr class="hr--clear hr--small">
  {% endif %}

  {% if paginate.pages > 1 %}
    <hr class="hr--clear">

    <div class="text-center">
      {% include 'pagination-custom' %}
    </div>
  {% endif %}
</div>
{% endpaginate %}
{% endcomment  %}