<!-- TEXT INFORMATION -->
<div class="text-page text-page_divided text-page_brand">
  <div class="text-page__left-half">
    <h1 class="heading">{{ collection.title }}</h1>
  </div>
  <div class="text-page__right-half">
    <p class="paragraph">{{ collection.description }}</p>
  </div>
</div>

<!-- FILTERS -->
<div class="filters">
  <a id="filter-new" class="filters__filter" href="{{ collection.url }}?sort_by=created-descending">
    <span id="filter-new-outline" class="filters__filter-outline filters__filter-outline_hidden"></span>
    НОВИНКИ
  </a>
  <a id="filter-min-price" class="filters__filter" href="{{ collection.url }}?sort_by=price-ascending">
    <span id="filter-min-price-outline" class="filters__filter-outline filters__filter-outline_hidden"></span>
    МИНИМАЛЬНАЯ&nbsp;ЦЕНА
  </a>
  <a id="filter-max-price" class="filters__filter" href="{{ collection.url }}?sort_by=price-descending">
    <span id="filter-max-price-outline" class="filters__filter-outline filters__filter-outline_hidden"></span>
    МАКСИМАЛЬНАЯ&nbsp;ЦЕНА
  </a>
</div>

<!-- ITEMS CONTAINER -->
<div class="grid-container">
  {% paginate collection.products by 200 %}
    {% for product in collection.products %}
      {% assign featured = product %}
        <div class="grid__item {{grid_item_width}}">
          {% include 'product-grid-item' %}
        </div>
      {% else %}
</div>

{% endfor %}
{% endpaginate %}
