<header class="header">
	<div class="header__fraction">
		<a id="header-logo" class="header__logo" href="/index"></a>
	</div>
	<div class="header__fraction">
		<button id="header-brands-button" class="header__button" type='button'>
			<span id="brands-outline" class="header__button-outline header__button-outline_hidden"></span>
			БРЕНДЫ
		</button>
		<button id="header-categories-button" class="header__button" type='button'>
			<span id="categories-outline" class="header__button-outline header__button-outline_hidden"></span>
			КАТЕГОРИИ
		</button>
	</div>
	<div class="header__fraction">
		<button id="header-subscribe-button" class="header__button" type='button'>
			<span id="subscribe-outline" class="header__button-outline header__button-outline_hidden"></span>
			ПОДПИСАТЬСЯ
		</button>
	</div>
	<div class="header__fraction">
		<button id="header-login-button" class="header__button header__button_login" type='button'>
			<span id="login-outline" class="header__button-outline header__button-outline_hidden"></span>
			ВОЙТИ
		</button>
    <button id="header-finder-button" class="header__button " type='button'>
      <span id="finder-outline" class="header__button-outline header__button-outline_hidden"></span>
      ПОИСК
    </button>
		<a id="header-cart-button" class="header__button header__button_cart" href="/cart">
			<span id="cart-outline" class="header__button-outline header__button-outline_hidden"></span>
      КОРЗИНА({{ cart.item_count | prepend: '0' }})
		</a>
	</div>
</header>

<!-- MENU: BRANDS -->
{% render 'header-menu-brands' %}

<!-- MENU: CATEGORIES -->
{% render 'header-menu-categories' %}

<!-- FORM: SUBSCRIBE -->
{% render 'form-subscribe' %}

<!-- FORM: LOG IN -->
{% render 'form-log-in' %}

<!-- FORM: SIGN IN -->
{% render 'form-sigh-in' %}

<!-- FORM: PASSWORD RECOVERY -->
{% render 'form-password-recovery' %}

<!-- FINDER -->
<div id="finder-menu" class="menu__finder menu_hidden">
  <div class="search-form__container" data-search-form-container>
    <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
      <div class="search-form__input-wrapper">
        <input
          type="text"
          name="q"
          placeholder="{{ 'Поиск' }}"
          role="combobox"
          aria-autocomplete="list"
          aria-owns="predictive-search-results"
          aria-expanded="false"
          aria-label="{{ 'Поиск'}}"
          aria-haspopup="listbox"
          class="search-bar__input"
          data-predictive-search-drawer-input
          data-base-url="{{ routes.search_url }}"
        />
        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
        <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
      </div>

      <button class="search-bar__submit"
        type="submit"
        data-search-form-submit>
        {% include 'icon-search' %}
      </button>
    </form>
  </div>
</div>

<!-- {{ 'common.js' | asset_url | script_tag }}
{{ 'index.js' | asset_url | script_tag }} -->
<!-- {{ 'cart.js' | asset_url | script_tag }} -->
