<div class="mobileHide">
  <header class="header header_two-colored">
    <div class="header__fraction">
      <a id="header-logo" class="header__logo header__logo_white"href="/index"></a>
    </div>
    <div class="header__fraction">
      <button id="header-brands-button" class="header__button header__button_white" type='button'>
        <span id="brands-outline" class="header__button-outline header__button-outline_hidden"></span>
        БРЕНДЫ
      </button>
      <button id="header-categories-button" class="header__button header__button_white" type='button'>
        <span id="categories-outline" class="header__button-outline header__button-outline_hidden"></span>
        КАТЕГОРИИ
      </button>
    </div>
    <div class="header__fraction">
      <button id="header-subscribe-button" class="header__button header__button_white" type='button'>
        <span id="subscribe-outline" class="header__button-outline header__button-outline_hidden"></span>
        ПОДПИСАТЬСЯ
      </button>
    </div>
    <div class="header__fraction">
      <button id="header-login-button" class="header__button header__button_login header__button_white" type='button'>
        <span id="login-outline" class="header__button-outline header__button-outline_hidden"></span>
        ВОЙТИ
      </button>
      <button id="header-finder-button" class="header__button  header__button_white" type='button'>
        <span id="finder-outline" class="header__button-outline header__button-outline_hidden"></span>
        ПОИСК
      </button>
      <a id="header-cart-button" class="header__button header__button_cart header__button_white" href="/cart">
        <span id="cart-outline" class="header__button-outline header__button-outline_white header__button-outline_hidden"></span>
        КОРЗИНА({{ cart.item_count | prepend: '0' }})
      </a>
    </div>
  </header>
</div>

<div class="mobileShow">
  <header class="header">
  <a href="./index.html">
    <div class="logo"></div>
  </a>
  <button class="menu-button">Меню</button>
  </header>
  <div class="menu-popup menu-popup_hidden">
    <div class="fake-header">
      <a href="./index.html">
        <div class="fake-logo"></div>
      </a>
      <button class="menu-close-button">Закрыть</button>
    </div>
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="./pages/brands/brands.html">Бренды</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/categorys/categorys.html">Категории</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="./pages/log_in/log_in.html">Войти</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/wishes/wishes.html">Желания</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/cart/cart.html">Корзина(00)</a></li>
      </ul>
      <ul class="menu-list">
        <li class="menu-list-element"><a class="menu-link" href="#">Подписаться</a></li>
        <li class="menu-list-element"><a class="menu-link" href="./pages/about_us/about_us.css">О нас</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- MENU: BRANDS -->
{% render 'header-menu-brands' %}

<!-- MENU: CATEGORIES -->
{% render 'header-menu-categories' %}

<!-- FORM: SUBSCRIBE -->
{% render 'form-subscribe' %}

<!-- FORM: LOG IN -->
{% render 'form-log-in' %}

<!-- FORM: SIGN IN -->
{% render 'form-sigh-in' %}

<!-- FORM: PASSWORD RECOVERY -->
{% render 'form-password-recovery' %}

<!-- FINDER -->
<div id="finder-menu" class="menu__finder menu_hidden">
  <div class="search-form__container" data-search-form-container>
    <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
      <div class="search-form__input-wrapper">
        <input
          type="text"
          name="q"
          placeholder="{{ 'Поиск' }}"
          role="combobox"
          aria-autocomplete="list"
          aria-owns="predictive-search-results"
          aria-expanded="false"
          aria-label="{{ 'Поиск'}}"
          aria-haspopup="listbox"
          class="search-bar__input"
          data-predictive-search-drawer-input
          data-base-url="{{ routes.search_url }}"
        />
        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
        <div class="predictive-search-wrapper predictive-search-wrapper--drawer predictive-search-wrapper--visible" data-predictive-search-mount="drawer"></div>
      </div>

      <button class="search-bar__submit"
        type="submit"
        data-search-form-submit>
        {% include 'icon-search' %}
      </button>
    </form>

  </div>
</div>
