<header class="header header_two-colored">
  <div class="header__fraction">
    <a id="header-logo" class="header__logo header__logo_white" href="https://symptom-msk.myshopify.com"></a>
  </div>
  <div class="header__fraction">
    <button id="header-brands-button" class="header__button header__button_white" type='button'>
      <span id="brands-outline" class="header__button-outline header__button-outline_hidden"></span>
      БРЕНДЫ
    </button>
    <button id="header-categories-button" class="header__button header__button_white" type='button'>
      <span id="categories-outline" class="header__button-outline header__button-outline_hidden"></span>
      КАТЕГОРИИ
    </button>
  </div>
  <div class="header__fraction">
    <button id="header-subscribe-button" class="header__button header__button_white" type='button'>
      <span id="subscribe-outline" class="header__button-outline header__button-outline_hidden"></span>
      ПОДПИСАТЬСЯ
    </button>
  </div>
  <div class="header__fraction">
    <button id="header-login-button" class="header__button header__button_login header__button_white" type='button'>
      <span id="login-outline" class="header__button-outline header__button-outline_hidden"></span>
      ВОЙТИ
    </button>
    <a id="header-wishes-button" class="header__button header__button_wishes header__button_white"
      href="https://symptom-msk.myshopify.com/wishes">
      <span id="wishes-outline" class="header__button-outline header__button-outline_white header__button-outline_hidden"></span>
      ЖЕЛАНИЯ
    </a>
    <a id="header-cart-button" class="header__button header__button_cart header__button_white"
      href="https://symptom-msk.myshopify.com/cart">
      <span id="cart-outline" class="header__button-outline header__button-outline_white header__button-outline_hidden"></span>
      КОРЗИНА(00)
    </a>
  </div>
</header>

<!-- MENU: BRANDS -->
<div id="brands-menu" class="menu menu_hidden">
  <nav class="menu__left-half">
    <ul>
      <li id="link-to-other-objects" class="menu__list-element"><a href="/collections/other-objects" class="menu__link">Other Objects</a></li>
      <li id="link-to-black-form" class="menu__list-element"><a href="" class="menu__link">Black.Form</a></li>
      <li id="link-to-not-concept" class="menu__list-element"><a href="" class="menu__link">Not Concept</a></li>
      <li id="link-to-perfert" class="menu__list-element"><a href="" class="menu__link">Perfert</a></li>
      <li id="link-to-1991" class="menu__list-element"><a href="" class="menu__link">1991</a></li>
      <li id="link-to-liberte" class="menu__list-element"><a href="" class="menu__link">Liberte</a></li>
      <li id="link-to-natalie-tonkal" class="menu__list-element"><a href="" class="menu__link">Natalie Tonkal</a></li>
      <li id="link-to-anna-maslovskaya" class="menu__list-element"><a href="" class="menu__link">Anna Maslovskaya</a>
    </ul>
    <ul>
      <li id="link-to-sub-rosa" class="menu__list-element"><a href="" class="menu__link">Sub Rosa</a></li>
      <li id="link-to-hubris" class="menu__list-element"><a href="" class="menu__link">HUBRIS</a></li>
      <li id="link-to-atauchi" class="menu__list-element"><a href="" class="menu__link">Atauchi</a></li>
      <li id="link-to-arha" class="menu__list-element"><a href="" class="menu__link">Arha</a></li>
    </ul>
    <ul>
      <li id="link-to-odor-objects" class="menu__list-element"><a href="" class="menu__link">Odor Objects</a></li>
      <li id="link-to-perfume-opera" class="menu__list-element"><a href="" class="menu__link">Perfume Opera</a></li>
      <li id="link-to-behurr" class="menu__list-element"><a href="" class="menu__link">Behurr</a></li>
      <li id="link-to-sands" class="menu__list-element"><a href="" class="menu__link">Sands</a></li>

      </li>
    </ul>
  </nav>
  <div class="menu__right-half">
    <img id="image-for-other-objects" class="menu__image menu__image_hidden"
      src="{{ 'brands-other-objects.jpg' | asset_img_url: 'master' }}"
      alt="Other Objects">
    <img id="image-for-black-form" class="menu__image menu__image_hidden"
      src="{{ 'brands-black-form.jpg' | asset_img_url: 'master' }}"
      alt="Black.Form">
    <img id="image-for-not-concept" class="menu__image menu__image_hidden"
      src="{{ 'brands-not-concept.jpg' | asset_img_url: 'master' }}"
      alt="Not Concept">
    <img id="image-for-perfert" class="menu__image menu__image_hidden"
      src="{{ 'brands-perfert.jpg' | asset_img_url: 'master' }}"
      alt="Perfert">
    <img id="image-for-1991" class="menu__image menu__image_hidden"
      src="{{ 'brands-1991.jpg' | asset_img_url: 'master' }}"
      alt="1991">
    <img id="image-for-liberte" class="menu__image menu__image_hidden"
      src="{{ 'brands-liberte.jpg' | asset_img_url: 'master' }}"
      alt="Liberte">
    <img id="image-for-natalie-tonkal" class="menu__image menu__image_hidden"
      src="{{ 'brands-natalie-tonkal.jpg' | asset_img_url: 'master' }}"
      alt="Natalie Tonkal">
    <img id="image-for-anna-maslovskaya" class="menu__image menu__image_hidden"
      src="{{ 'brands-anna-maslovskaya.jpg' | asset_img_url: 'master' }}"
      alt="Anna Maslovskaya">
    <img id="image-for-sub-rosa" class="menu__image menu__image_hidden"
      src="{{ 'brands-sub-rosa.jpg' | asset_img_url: 'master' }}"
      alt="Sub Rosa">
    <img id="image-for-hubris" class="menu__image menu__image_hidden"
      src="{{ 'brands-hubris.jpg' | asset_img_url: 'master' }}"
      alt="HUBRIS">
    <img id="image-for-atauchi" class="menu__image menu__image_hidden"
      src="{{ 'brands-atauchi.jpg' | asset_img_url: 'master' }}"
      alt="Atauchi">
    <img id="image-for-arha" class="menu__image menu__image_hidden"
      src="{{ 'brands-arha.jpg' | asset_img_url: 'master' }}"
      alt="Arha">
    <img id="image-for-odor-objects" class="menu__image menu__image_hidden"
      src="{{ 'brands-odor-objects.jpg' | asset_img_url: 'master' }}"
      alt="Odor Objects">
    <img id="image-for-perfume-opera" class="menu__image menu__image_hidden"
      src="{{ 'brands-perfume-opera.jpg' | asset_img_url: 'master' }}"
      alt="Perfume Opera">
    <img id="image-for-behurr" class="menu__image menu__image_hidden"
      src="{{ 'brands-behurr.jpg' | asset_img_url: 'master' }}"
      alt="Behurr">
    <img id="image-for-sands" class="menu__image menu__image_hidden"
      src="{{ 'brands-sands.jpg' | asset_img_url: 'master' }}"
      alt="Sands">
  </div>
</div>


<!-- MENU: CATEGORIES -->
<div id="categories-menu" class="menu menu_hidden">
  <nav class="menu__left-half">
    <ul>
      <li id="link-to-pendals" class="menu__list-element"><a href="" class="menu__link">Подвески</a></li>
      <li id="link-to-earrings" class="menu__list-element"><a href="" class="menu__link">Серьги</a></li>
      <li id="link-to-rings" class="menu__list-element"><a href="" class="menu__link">Кольца</a></li>
      <li id="link-to-cuffs" class="menu__list-element"><a href="" class="menu__link">Каффы</a></li>
      <li id="link-to-bracelets" class="menu__list-element"><a href="" class="menu__link">Браслеты</a></li>
      <li id="link-to-hairpins" class="menu__list-element"><a href="" class="menu__link">Заколки</a></li>
    </ul>
    <ul>
      <li id="link-to-perfume" class="menu__list-element"><a href="" class="menu__link">Духи</a></li>
      <li id="link-to-solid-perfume" class="menu__list-element"><a href="" class="menu__link">Твёрдые духи</a></li>
      <li id="link-to-clothes" class="menu__list-element"><a href="" class="menu__link">Одежда</a></li>
      <li id="link-to-headwear" class="menu__list-element"><a href="" class="menu__link">Головные уборы</a></li>
    </ul>
  </nav>
  <div class="menu__right-half">
    <img id="image-for-pendals" class="menu__image menu__image_hidden"
      src="{{ 'categories-pendals.jpg' | asset_img_url: 'master' }}"
      alt="Подвески">
    <img id="image-for-earrings" class="menu__image menu__image_hidden"
      src="{{ 'categories-earrings.jpg' | asset_img_url: 'master' }}"
      alt="Серьги">
    <img id="image-for-rings" class="menu__image menu__image_hidden"
      src="{{ 'categories-rings.jpg' | asset_img_url: 'master' }}"
      alt="Кольца">
    <img id="image-for-cuffs" class="menu__image menu__image_hidden"
      src="{{ 'categories-cuffs.jpg' | asset_img_url: 'master' }}"
      alt="Каффы">
    <img id="image-for-bracelets" class="menu__image menu__image_hidden"
      src="{{ 'categories-bracelets.jpg' | asset_img_url: 'master' }}"
      alt="Браслеты">
    <img id="image-for-hairpins" class="menu__image menu__image_hidden"
      src="{{ 'categories-hairpins.jpg' | asset_img_url: 'master' }}"
      alt="Заколки">
    <img id="image-for-perfume" class="menu__image menu__image_hidden"
      src="{{ 'categories-perfume.jpg' | asset_img_url: 'master' }}"
      alt="Духи">
    <img id="image-for-solid-perfume" class="menu__image menu__image_hidden"
      src="{{ 'categories-solid-perfume.jpg' | asset_img_url: 'master' }}"
      alt="Твёрдые духи">
    <img id="image-for-clothes" class="menu__image menu__image_hidden"
      src="{{ 'categories-clothes.jpg' | asset_img_url: 'master' }}"
      alt="Одежда">
    <img id="image-for-headwear" class="menu__image menu__image_hidden"
      src="{{ 'categories-headwear.jpg' | asset_img_url: 'master' }}"
      alt="Головные уборы">
  </div>
</div>

<!-- FORM: SUBSCRIBE -->
<form id="subscribe-form" class="form form_hidden" novalidate>
<h3 class="heading heading_form">Давайте познакомимся</h3>
<div class="form__grid">
	<div class="form__fraction form__left-half">
	<div class="input input_form">
		<h3 class="input__heading">E-mail:</h3>
		<input id="subscribe-email" name="subscribe-email" class="input__field" type="email" value=""
		placeholder="your@dolphine.com" required>
		<span id="subscribe-email-error" class="input__error"></span>
	</div>
	</div>
	<div class="form__fraction form__right-half">
	<div class="input input_form">
		<h3 class="input__heading">Ваше имя:</h3>
		<input id="subscribe-name" name="subscribe-name" class="input__field" type="text" minlength="2" maxlength="20"
		value="" placeholder="Дженгу" required>
		<span id="subscribe-name-error" class="input__error"></span>
	</div>
	<label class="checkbox checkbox_form">
		<div>
		<input id="subscribe-rules-agreement" name="subscribe-rules-agreement"
			class="checkbox__true-checkbox checkbox__true-checkbox_required" type="checkbox" value="agreed" checked
			required>
		<div class="checkbox__fake-checkbox"></div>
		</div>
		<p class="checkbox__description">Нажимая кнопку «Подписаться», вы даете согласие на обработку ваших
		персональных данных согласно положениям <a class="paragraph__link" href="./pages/confidentiality.html"> по
			ссылке.</a></p>
	</label>
	<button class="black-button submit-button" type="submit">Подписаться</button>
	</div>
</div>
</form>

<!-- FORM: LOG IN -->
<form id="login-form" class="form form_hidden" novalidate>
<h3 class="heading heading_form">Вход</h3>
<div class="form__grid">
	<div class="form__fraction form__left-half">
	<div class="input input_form">
		<h3 class="input__heading">E-mail:</h3>
		<input id="login-email" name="login-email" class="input__field" type="email" value=""
		placeholder="your@dolphine.com" required>
		<span id="login-email-error" class="input__error"></span>
	</div>
	<button id="signin-button" class="hollow-button hollow-button_" type='button'>Регистрация</button>
	</div>
	<div class="form__fraction form__right-half">
	<div class="input input_form">
		<h3 class="input__heading">Пароль:</h3>
		<input id="login-password" name="login-password" class="input__field" type="password" value=""
		placeholder="***********" required>
		<span id="login-password-error" class="input__error"></span>
	</div>
	<button class="black-button submit-button" type="submit">Вход</button>
	<button id="recovery-button" class="form__recovery-button" type='button'>Забыли пароль?</button>
	</div>
</div>
</form>


<!-- FORM: SIGN IN -->
<form id="signin-form" class="form form_hidden" novalidate>
<h3 class="heading heading_form">Регистрация</h3>
<div class="form__grid">
	<div class="form__left-half">
	<div class="input input_form">
		<h3 class="input__heading">E-mail:</h3>
		<input id="signin-email" name="signin-email" class="input__field" type="email" value=""
		placeholder="your@dolphine.com" required>
		<span id="signin-email-error" class="input__error"></span>
	</div>
	<label class="checkbox checkbox_form">
		<div>
		<input id="signin-mailing" name="signin-mailing" class="checkbox__true-checkbox" type="checkbox"
			value="subscribed" checked>
		<div class="checkbox__fake-checkbox"></div>
		</div>
		<p class="checkbox__description">Я хочу получать информацию о новых коллекциях и специальных предложениях на
		указанный адрес электронной почты</p>
	</label>
	</div>
	<div class="form__right-half">
	<div class="input input_form">
		<h3 class="input__heading">Пароль:</h3>
		<input id="signin-password" name="signin-password" class="input__field" type="password" minlength="6"
		maxlength="24" value="" placeholder="***********" required>
		<span id="signin-password-error" class="input__error"></span>
	</div>
	<label class="checkbox checkbox_form">
		<div>
		<input id="signin-rules-agreement" name="signin-rules-agreement"
			class="checkbox__true-checkbox checkbox__true-checkbox_required" type="checkbox" value="agreed" checked
			required>
		<div class="checkbox__fake-checkbox"></div>
		</div>
		<p class="checkbox__description">Нажимая кнопку «Регистрация», вы даете согласие на обработку ваших
		персональных данных согласно положениям <a class="paragraph__link" href="./pages/confidentiality.html"> по
			ссылке.</a></p>
	</label>
	<button class="black-button submit-button" type="submit">Регистрация</button>
	</div>
</div>
</form>


<!-- FORM: PASSWORD RECOVERY -->
<form id="password-recovery-form" class="form form_hidden" novalidate>
<h3 class="heading heading_form">Восстановление</h3>
<div class="form__grid">
	<div class="form__left-half"></div>
	<div class="form__right-half">
	<div class="input input_form">
		<h3 class="input__heading">E-mail</h3>
		<input id="recovery-email" name="recovery-email" class="input__field" type="email" value=""
		placeholder="your@dolphine.com" required>
		<span id="recovery-email-error" class="input__error"></span>
	</div>
	<p class="paragraph paragraph_form">Укажите свой Email.<br>Ссылку на создание нового пароля вы получите по
		электронной почте.</p>
	<button class="black-button submit-button" type="submit">Восстановить пароль</button>
	</div>
</div>
</form>



{% schema %}
  {
    "name": "Header",
    "settings": [

    ]
  }
{% endschema %}

{% style %}

{% endstyle %}

{% javascript %}

// HEADER

const main = document.querySelector('main');
const header = document.querySelector('header');
const headerLogo = document.querySelector('#header-logo');

const buttons = document.querySelectorAll('.header__button');
const headerBrandsButton = document.querySelector('#header-brands-button');
const headerCategoriesButton = document.querySelector('#header-categories-button');
const headerSubscribeButton = document.querySelector('#header-subscribe-button');
const headerLogInButton = document.querySelector('#header-login-button');
const headerWishesButton = document.querySelector('#header-wishes-button');
const headerCartButton = document.querySelector('#header-cart-button');

const outlines = document.querySelectorAll('.header__button-outline');
const brandsOutline = document.querySelector('#brands-outline');
const categoriesOutline = document.querySelector('#categories-outline');
const subscribeOutline = document.querySelector('#subscribe-outline');
const logInOutline = document.querySelector('#login-outline');
const wishesOutline = document.querySelector('#wishes-outline');
const cartOutline = document.querySelector('#cart-outline');

const menus = document.querySelectorAll('.menu');
const brandsMenu = document.querySelector('#brands-menu');
const categoriesMenu = document.querySelector('#categories-menu');

const forms = document.querySelectorAll('.form');
const subscribeForm = document.querySelector('#subscribe-form');
const logInForm = document.querySelector('#login-form');
const signInButton = document.querySelector('#signin-button');
const recoveryButton = document.querySelector('#recovery-button');
const signInForm = document.querySelector('#signin-form');
const passwordRecoveryForm = document.querySelector('#password-recovery-form');

function headerTurnsBlack() {
	if (header.classList.contains('header_two-colored')) {
		headerLogo.classList.remove('header__logo_white');
		buttons.forEach(button => button.classList.remove('header__button_white'));
		wishesOutline.classList.remove('header__button-outline_white');
		cartOutline.classList.remove('header__button-outline_white');
	}
};

function headerTurnsWhite() {
	if (header.classList.contains('header_two-colored')) {
		headerLogo.classList.add('header__logo_white');
		buttons.forEach(button => button.classList.add('header__button_white'));
		wishesOutline.classList.add('header__button-outline_white');
		cartOutline.classList.add('header__button-outline_white');
	}
};

function showOutline(outline) {
	outline.classList.remove('header__button-outline_hidden');
};

function hideAllOutlines() {
	outlines.forEach(outline => outline.classList.add('header__button-outline_hidden'));
};

function showPopup(popup, hidingClass) {
	headerTurnsBlack();
	popup.classList.remove(hidingClass);
};

function hideAllPopups() {
	menus.forEach(menu => menu.classList.add('menu_hidden'));
	forms.forEach(form => form.classList.add('form_hidden'));
	hideAllOutlines();
	headerTurnsWhite();
};

headerBrandsButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(brandsOutline);
	showPopup(brandsMenu, 'menu_hidden');
});

headerCategoriesButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(categoriesOutline);
	showPopup(categoriesMenu, 'menu_hidden');
});

headerSubscribeButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(subscribeOutline);
	showPopup(subscribeForm, 'form_hidden');
});

headerLogInButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(logInForm, 'form_hidden');
});

signInButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(signInForm, 'form_hidden');
});

recoveryButton.addEventListener('click', () => {
	hideAllPopups();
	showOutline(logInOutline);
	showPopup(passwordRecoveryForm, 'form_hidden');
});

headerWishesButton.addEventListener('click', () => {
	hideAllOutlines();
	showOutline(wishesOutline);
});

headerCartButton.addEventListener('click', () => {
	hideAllOutlines();
	showOutline(cartOutline);
});

// закрываем меню и футеры кликом по основному разделу
document.addEventListener('keydown', event => {
	if (event.key == 'Escape') hideAllPopups();
});

// закрываем меню и футеры кликом по основному разделу
main.addEventListener('click', () => hideAllPopups());

// закрываем меню и футеры кликом по футеру
document.addEventListener('click', event => {
	let isFooter = event.target.closest('.footer');
	if (isFooter) hideAllPopups();
});

// BRANDS MENU

const brandsMenuImage = document.querySelector('#brand-menu-image');
const brandsList = [
	{
		name: '1991',
		menuLink: '#link-to-1991',
		menuImage: '#image-for-1991',
	},
	{
		name: 'Anna Maslovskaya',
		menuLink: '#link-to-anna-maslovskaya',
		menuImage: '#image-for-anna-maslovskaya',
	},
	{
		name: 'Arha',
		menuLink: '#link-to-arha',
		menuImage: '#image-for-arha',
	},
	{
		name: 'Atauchi',
		menuLink: '#link-to-atauchi',
		menuImage: '#image-for-atauchi',
	},
	{
		name: 'Behurr',
		menuLink: '#link-to-behurr',
		menuImage: '#image-for-behurr',
	},
	{
		name: 'BLACK FORM',
		menuLink: '#link-to-black-form',
		menuImage: '#image-for-black-form',
	},
	{
		name: 'HUBRIS',
		menuLink: '#link-to-hubris',
		menuImage: '#image-for-hubris',
	},
	{
		name: 'Liberte',
		menuLink: '#link-to-liberte',
		menuImage: '#image-for-liberte',
	},
	{
		name: 'Natalie Tonkal',
		menuLink: '#link-to-natalie-tonkal',
		menuImage: '#image-for-natalie-tonkal',
	},
	{
		name: 'NOT CONCEPT',
		menuLink: '#link-to-not-concept',
		menuImage: '#image-for-not-concept',
	},
	{
		name: 'Odor Objects',
		menuLink: '#link-to-odor-objects',
		menuImage: '#image-for-odor-objects',
	},
	{
		name: 'Other Objects',
		menuLink: '#link-to-other-objects',
		menuImage: '#image-for-other-objects',
	},
	{
		name: 'Perfert',
		menuLink: '#link-to-perfert',
		menuImage: '#image-for-perfert',
	},
	{
		name: 'Perfume Opera',
		menuLink: '#link-to-perfume-opera',
		menuImage: '#image-for-perfume-opera',
	},
	{
		name: 'Sands',
		menuLink: '#link-to-sands',
		menuImage: '#image-for-sands',
	},
	{
		name: 'Sub Rosa',
		menuLink: '#link-to-sub-rosa',
		menuImage: '#image-for-sub-rosa',
	},
];

const brandsInMenu = brandsList.filter(brand => {
	return brand.menuLink !== null;
});

brandsInMenu.forEach(brand => {
	let brandLink = document.querySelector(brand.menuLink);
	let brandImage = document.querySelector(brand.menuImage);
	let allImages = document.querySelectorAll('.menu__image');
	if(brandLink){
		brandLink.addEventListener('mouseover', () => {
			allImages.forEach(image => image.classList.add('menu__image_hidden'));
			brandImage.classList.remove('menu__image_hidden');
		});
	};
});

// CATEGORIES MENU

const categoriesMenuImage = document.querySelector('#categories-menu-image');
const categoriesList = [
	{
		name: 'Подвески',
		menuLink: '#link-to-pendals',
		menuImage: '#image-for-pendals',
	},
	{
		name: 'Серьги',
		menuLink: '#link-to-earrings',
		menuImage: '#image-for-earrings',
	},
	{
		name: 'Кольца',
		menuLink: '#link-to-rings',
		menuImage: '#image-for-rings',
	},
	{
		name: 'Браслеты',
		menuLink: '#link-to-bracelets',
		menuImage: '#image-for-bracelets',
	},
	{
		name: 'Каффы',
		menuLink: '#link-to-cuffs',
		menuImage: '#image-for-cuffs',
	},
	{
		name: 'Заколки',
		menuLink: '#link-to-hairpins',
		menuImage: '#image-for-hairpins',
	},
	{
		name: 'Духи',
		menuLink: '#link-to-perfume',
		menuImage: '#image-for-perfume',
	},
	{
		name: 'Твёрдые духи',
		menuLink: '#link-to-solid-perfume',
		menuImage: '#image-for-solid-perfume',
	},
	{
		name: 'Головные уборы',
		menuLink: '#link-to-headwear',
		menuImage: '#image-for-headwear',
	},
	{
		name: 'Одежда',
		menuLink: '#link-to-clothes',
		menuImage: '#image-for-clothes',
	},
];

const categoriesInMenu = categoriesList.filter(category => {
	return category.menuLink !== null;
});

categoriesInMenu.forEach(category => {
	let categoryLink = document.querySelector(category.menuLink);
	let categoryImage = document.querySelector(category.menuImage);
	let allCategories = document.querySelectorAll('.menu__image');
	if(categoryLink){
		categoryLink.addEventListener('mouseover', () => {
			allCategories.forEach(image => image.classList.add('menu__image_hidden'));
			categoryImage.classList.remove('menu__image_hidden');
		});
	};
});

{% endjavascript %}
