<style>
  body {background-color: #fafafa;}
</style>

<header class="header">
  <div class="header__fraction">
    <a id="header-logo" class="header__logo" href="https://symptom-msk.myshopify.com"></a>
  </div>
  <div class="header__fraction">
    <button id="header-brands-button" class="header__button" type='button'>
      <span id="brands-outline" class="header__button-outline header__button-outline_hidden"></span>
      БРЕНДЫ
    </button>
    <button id="header-categories-button" class="header__button" type='button'>
      <span id="categories-outline" class="header__button-outline header__button-outline_hidden"></span>
      КАТЕГОРИИ
    </button>
  </div>
  <div class="header__fraction">
    <button id="header-subscribe-button" class="header__button" type='button'>
      <span id="subscribe-outline" class="header__button-outline header__button-outline_hidden"></span>
      ПОДПИСАТЬСЯ
    </button>
  </div>
  <div class="header__fraction">
    <button id="header-login-button" class="header__button header__button_login" type='button'>
      <span id="login-outline" class="header__button-outline header__button-outline_hidden"></span>
      ВОЙТИ
    </button>
    <a id="header-wishes-button" class="header__button header__button_wishes"
      href="https://symptom-msk.myshopify.com/wishes">
      <span id="wishes-outline" class="header__button-outline header__button-outline_hidden"></span>
      ЖЕЛАНИЯ
    </a>
    <a id="header-cart-button" class="header__button header__button_cart"
      href="https://symptom-msk.myshopify.com/cart">
      <span id="cart-outline" class="header__button-outline header__button-outline_hidden"></span>
      КОРЗИНА(00)
    </a>
  </div>
</header>

<div class="item">
  <div class="item__info">
    <!-- <button class="back-button">
      <div class="back-button__arrow"></div><span class="back-button__text">Назад</span>
    </button> -->
    <h1 class="item__brand">{{ product.title }}</h1>
    <!-- <h2 class="item__name"></h2> -->
    <p class="item__description">{{ product.description }}</p>
    <!-- <span class="item__status">{{ product.available }}</span> -->
    <span class="item__price">{{ product.price | money }}</span>
    <a href="./shipping_and_payment.html" class="item__shipping">Доставка и возврат</a>
  </div>

  <div class="item__image-wrapper">
    <img class="item__image" src="{{ product | img_url: '400x400' }}" alt="{{ product.title }}">
  </div>

  <div class="item__order">
    <h4 class="item__radio-heading">Материал:</h4>
    <div class="materials materials_bracelet">
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_bronze">Bronze</span>
      </label>
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_silver">Silver</span>
      </label>
    </div>
    <p class="item__preorder-info">
      Размер который вы выбрали отсутсвует в наличии. Но вы можете оформить предзаказ!
      После оформления заказа мы свяжемся с вами, чтобы обсудить все важные детали.
    </p>
    <div class="item__buttons item__buttons_bracelet">
      <button class="circle-like-button"></button>
      <button class="black-button">В корзину</button>
      <!-- {{ routes.cart_add_url }} -->
    </div>
  </div>
</div>

