<div class="item">
  <div class="item__info">
    <button class="back-button">
      <a href="javascript:history.back()" class="back-button__text">Назад</a>
    </button>
    <h1 class="item__brand">{{ product.title }}</h1>
    <span class="item__price">{{ product.price | money }}</span>
    <!-- <h2 class="item__name"></h2> -->
    <p class="item__description">{{ product.description }}</p>
    <!-- <span class="item__status">{{ product.available }}</span> -->
    <a href="/pages/shipping_and_payment.html" class="item__shipping">Доставка и возврат</a>
  </div>

  <div class="item__image-wrapper">
    <img class="item__image" src="{{ product | img_url: '400x400' }}" alt="{{ product.title }}">
  </div>
  <div class="item__image-collection">
    <div class="photos__item photos__item--main">
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
      {%- for image in product.images -%}
        <div class="product-single__photo product__photo-container product__photo-container-{{ section.id }} js{% unless image == featured_image %} hide{% endunless %}"
             id="ProductPhoto"
             style="max-width: {% include 'image-width' with image: image, width: 480 %}px;"
             data-image-id="{{ image.id }}">
          <a href="{{ image | img_url: '700x700' }}"
             class="js-modal-open-product-modal product__photo-wrapper product__photo-wrapper-{{ section.id }}"
             style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
            <img class="lazyload{% unless image == featured_image %} lazypreload{% endunless %}"
              src="{{ image | img_url: '150x150' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 240, 360, 480, 720, 960, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ image.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ image.alt | escape }}">
          </a>
        </div>
      {%- endfor -%}
      <noscript>
        <a href="{{ featured_image | img_url: '700x700' }}">
          <img src="{{ featured_image | img_url: product_image_size }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg-{{ section.id }}">
        </a>
      </noscript>
    </div>
  </div>

  {% if product.images.size > 1 %}
    <div class="photos__item photos__item--thumbs">
      <div class="product-single__thumbnails product-single__thumbnails-{{ section.id }}{% unless product.images.size > 2 %} product-single__thumbnails--static{% endunless %}">
        {% for image in product.images %}
          <div class="product-single__thumbnail-item product-single__thumbnail-item-{{ section.id }}{% if image == featured_image %} is-active{% endif %}" data-image-id="{{ image.id }}">
            <a href="{{ image.src | img_url: product_image_size }}" data-zoom="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail product-single__thumbnail-{{ section.id }}">
              <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if product.images.size > 2 %}
    {% comment %}
      Add SVG icon snippets to an object for custom slider arrows
    {% endcomment %}
    <script>
      {% capture arrow_left %}{% include 'icon-arrow-left' %}{% endcapture %}
      {% capture arrow_right %}{% include 'icon-arrow-right' %}{% endcapture %}
      {% capture arrow_up %}{% include 'icon-arrow-up' %}{% endcapture %}
      {% capture arrow_down %}{% include 'icon-arrow-down' %}{% endcapture %}
      var sliderArrows = {
        left: {{ arrow_left | json }},
        right: {{ arrow_right | json }},
        up: {{ arrow_up | json }},
        down: {{ arrow_down | json }}
      }
    </script>
  {% endif %}

  <div class="item__order">
    <h4 class="item__radio-heading">Материал:</h4>
    <div class="materials materials_bracelet">
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_bronze">Bronze</span>
      </label>
      <label class="materials__material">
        <input class="materials__true-radio" type="radio" name="material">
        <span class="materials__fake-radio materials__fake-radio_silver">Silver</span>
      </label>
    </div>
    <p class="item__preorder-info">
      Размер который вы выбрали отсутсвует в наличии. Но вы можете оформить предзаказ!
      После оформления заказа мы свяжемся с вами, чтобы обсудить все важные детали.
    </p>
    <div class="item__buttons item__buttons_bracelet">
      <button class="circle-like-button"></button>
      <button class="black-button">В корзину</button>
      <!-- {{ routes.cart_add_url }} -->
    </div>
  </div>
</div>

