<div class="item">

  <!-- LEFT SECTION: INFO -->
  <div class="item__info">
    <button class="back-button">
      <a href="javascript:history.back()" class="back-button__text">Назад</a>
    </button>
    <div class="item__info-grid">
      <h1 class="item__brand">{{ product.title }}</h1>
    </div>
    <div class="item__info-grid">
      <span class="item__price">{{ product.price | money }}</span>
    </div>
    <div class="item__info-grid">
      <div class="item__description">{{ product.description }}</div>
    </div>
    <div class="item__info-grid">
      <a href="/pages/shipping-and-payment" class="item__shipping">Доставка</a>
      <span>И</span>
      <a href="/pages/waranty-and-returns" class="item__shipping">возврат</a>
    </div>
  </div>



  <!-- MIDDLE SECTION: PHOTOS -->
  <div class="item__product-wrapper">
    <img id="main-image" class="item__image" src="{{ product | img_url: '500x500' }}" alt="{{ product.title }}">
    {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
    {% for image in product.images %}
    <div
      class="product-single__photo product__photo-container product__photo-container-{{ section.id }} js{% unless image == featured_image %} hide{% endunless %}"
      id="ProductPhoto" style="max-width: {% include 'image-width' with image: image, width: 480 %}px;"
      data-image-id="{{ image.id }}">
      <!-- <a href="{{ image | img_url: '700x700' }}"
             class="js-modal-open-product-modal product__photo-wrapper product__photo-wrapper-{{ section.id }}"
             style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
            {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          </a> -->
    </div>
    {%- endfor -%}

    <noscript>
      <a href="{{ featured_image | img_url: '700x700' }}">
        <img src="{{ featured_image | img_url: product_image_size }}" alt="{{ featured_image.alt | escape }}"
          id="ProductPhotoImg-{{ section.id }}">
      </a>
    </noscript>

    {% if product.images.size > 1 %}
    <div class="photos__item photos__item--thumbs">

      <button id="prev-button" class="nav-button" type="button">&#9664</button>
      <button id="next-button" class="nav-button" type="button">&#9654</button>

      <div id="photo-slider"
        class="product-single__thumbnails product-single__thumbnails-{{ section.id }}{% unless product.images.size > 2 %} product-single__thumbnails--static{% endunless %}">
        {% for image in product.images limit:4 %}
        <div
          class="product-single__thumbnail-item product-single__thumbnail-item-{{ section.id }}{% if image == featured_image %} is-active{% endif %}"
          data-image-id="{{ image.id }}">
          <img class="product__image-mini" src="{{ image.src | img_url }}" alt="{{ image.alt | escape }}">

          <!-- <a href="{{ image.src | img_url: product_image_size }}" data-zoom="{{ image.src | img_url: '1024x1024' }}"
            class="product-single__thumbnail product-single__thumbnail-{{ section.id }}">
            <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
          </a> -->
        </div>
        {% endfor %}

      </div>
    </div>
    {% endif %}

    {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
    {% endunless %}

  </div>



  <!-- RIGHT SECTION: ORDER -->
  <div class="item__order">

    {% if product.title != 'Подарочный сертификат' %}
    <h4 class="item__radio-heading">Выберите размер:</h4>
    <p class="item__preorder-info-variants">(OS = one size)</p>
    {% else %}
    <h4 class="item__radio-heading-variants">Выберите сумму сертификата:</h4>
    <p class="item__preorder-info-variants">(k = 1000 руб)</p>
    {% endif %}

    {% if product.variant == 'Левая' %}
    {{ 'side-left.png' | asset_img_url: 'master' }}
    {% elsif product.variant == 'Правая' %}
    {{ 'side-right.png' | asset_img_url: 'master' }}
    {% endif %}

    {% form "product", product %}
    <div class="round-sizes">
      {% for variant in product.variants %}
      {% if variant.available %}
      <label class="round-sizes__size">
        <input class="round-sizes__true-radio" type="radio" name="size">
        <span class="round-sizes__fake-radio">
          <option {% if variant==product.selected_or_first_available_variant %} class="item__variants-padding" {% endif
            %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        </span>
      </label>
      {% elsif product.has_only_default_variant %}
      <input class="round-sizes__true-radio" type="radio" name="size">
      <span class="round-sizes__fake-radio">
        <option class="item__variants-padding">
        </option>
        OS
      </span>
      {% else %}
      <label class="round-sizes__size">
        <span class="round-sizes__fake-radio">
          <option class="item__variants-padding" disabled="disabled">
            {{ variant.title }}
          </option>
        </span>
      </label>
      {% if variant.title in collection == 'Default title' %}
      {{ variant.title | 'OS' }}
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>

    {% comment %}
    {% for variant in product.variants %}
    {% if variant.available %}

    {% else %}
    <button class="black-button" type="button">Отсутсвует</button>
    {% endif %}
    {% endfor %}
    {% endcomment %}

    <button class="black-button" {{ routes.cart_add_url }} type="button" method="post" action="/cart/add"
      enctype="multipart/form-data">В корзину</button>
    {% endform %}

    <p class="item__preorder-info">
      Если размер нельзя выбрать - он отсутсвует в наличии. Но вы можете оформить предзаказ в нашем
      <button id="open_chatra_preorder" onclick="Chatra('openChat', true)">чате!</button> Свяжитесь с нами, чтобы
      обсудить<br>все важные детали.<br>
    </p>
    <!-- <button class="circle-like-button"></button> -->
    </div>
  </div>
</div>



<!-- FULLSIZED IMAGE -->
<div class="item__overlay item__overlay_hidden">
  <img class="item__fullsize-image" src="{{ product | img_url: '1000x1000' }}" alt="{{ product.title }}">
</div>
